<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spo.io</title>
    <link rel="stylesheet" href="/spo.io/client/components/footer.css">
    <link rel="shortcut icon" href="/spo.io/client/assets/logo-um.png" type="image/x-icon">
</head>
<body>
    <footer>
        <div class="div-um-footer">
            <span>Ana Popov</span>
            <div class="hr"></div>
            <div class="div-ul-copy">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>

                <p>© Todos os direitos reservados.</p>
            </div>
        </div>

        <div class="div-dois-footer">
            <div class="redes">
                <a href="#"><img src="/spo.io/client/assets/logo-github.png" alt="Logo Github"></a>
                <a href="#"><img src="/spo.io/client/assets/logo-instagram.png" alt="Logo Instagram"></a>
                <a href="#"><img src="/spo.io/client/assets/icone-website.png" alt="Simbolo para indicar site"></a>
            </div>

            <p>Suporte: anadev@gmail.com</p>
        </div>
    </footer>
</body>
</html>